* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* set the font to Untitled Sans */
  font-family: "Untitled Sans", sans-serif;
}

/* body {
  border: 1px solid purple;
} */

.game-intro-text {
  text-align: center;
}

.slots-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* border: 1px solid green; */

  display: grid;
  grid-template-columns: auto auto auto auto; /* Make each column only as wide as its content */
  gap: 8px;
  justify-content: center; /* Horizontally center the grid cells */
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 15px;
  margin-top: 10px;
  position: relative;
  width: 150px;
  height: 200px;
  overflow: hidden; /* Hide the parts of the image that don't fit */
  border: 3px solid black;
  border-radius: 16px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slotImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make sure the image covers the entire slot */
  transform: scale(1.1);
}

.slotText {
  /* position: absolute; */
  color: white;
  text-align: center;
  vertical-align: middle;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  font-weight: bold;

  font-size: 1.2rem;
}

.blur {
  filter: blur(2px) brightness(0.7);
}

.blur-text {
  filter: blur(2px);
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* border: 1px solid red; */
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  border: 1px solid black;
  background-color: white;

  /* padding-left: 60px; */
  /* padding-right: 60px; */

  /* padding-top: 15px; */
  /* padding-bottom: 15px; */

  height: 50px;
  width: 150px;

  /* margin: 10px; */
  margin-left: 5px;
  margin-right: 5px;

  font-size: 1.2rem;
  font-weight: bold;
}

button:hover {
  background-color: black;
  color: white;
}

.game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* border: 1px solid blue; */

  margin-top: 20px;
  margin-bottom: 20px;
}

img[src="images/slot_cover/cherry_cover.png"] {
  width: 40%;
  height: auto;
}

.slot-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid blue; */
}

.hidden {
  visibility: hidden;
  /* or alternatively: */
  /* opacity: 0; */
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50px; /* Changed from 40% to 50px */
  left: 50%;
  transform: translateX(
    -50%
  ); /* Changed from translate(-50%, -50%) to only affect the x-axis */
  background-color: #fff;
  padding: 20px;
  padding-bottom: 100px;
  border-radius: 8px;

  width: 30%;
}

.close-button {
  cursor: pointer;
  /* put it in the top right corner */
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  font-size: 24px;
}

#shareContent {
  margin-top: 15px;
  margin-bottom: 15px;
}

.shareHeader {
  margin-top: 20px;
}

.shareButtons {
  margin-top: 20px;
}

.copy-popup {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* grid-template-columns: auto auto;  */
/* In mobile view, 2 columns */

@media (max-width: 1200px) {
  .modal-content {
    width: 500px;
  }
}

@media (max-width: 800px) {
  .modal-content {
    width: 400px;
  }
  /* make the .slot-and-title smaller? */
}

@media (max-width: 700px) {
  .slots-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .modal-content {
    width: 400px;
  }
}
